<section class="mbr-slider mbr-section mbr-section--no-padding carousel slide" data-ride="carousel" data-wrap="true" data-interval="5000" id="slider-5" style="background-color: #4c6972;">
    <div class="mbr-section__container">
        <div>
            <ol class="carousel-indicators">
                <li data-app-prevent-settings="" data-target="#slider-5" data-slide-to="0" class="active"></li><li data-app-prevent-settings="" data-target="#slider-5" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider-5" class="" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height active" style="background-image: url(https://images.unsplash.com/photo-1433264058539-880eb8412c9d);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-right mbr-box__magnet--sm-padding">

                        <div class=" container">

                            <div class="row">
                                <div class=" col-md-6 col-md-offset-5">

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text">猎鹰招聘</h1>

                                    <p class="mbr-hero__subtext">猎尽天下英才</p>
                                </div>
                                <div class="mbr-buttons btn-inverse mbr-buttons--left mbr-buttons--right"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="/jobs">马上应聘</a> <a class="mbr-buttons__btn btn btn-lg btn-default" href="#">联系我们</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(https://images.unsplash.com/photo-1429655353447-d030683895ad);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-center mbr-box__magnet--sm-padding">

                        <div class=" container">

                            <div class="row">
                                <div class=" col-md-8 col-md-offset-2">

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text">猎鹰招聘</h1>

                                    <p class="mbr-hero__subtext">助你寻找心中的梦想</p>
                                </div>
                                <div class="mbr-buttons btn-inverse mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="#">马上应聘</a> <a class="mbr-buttons__btn btn btn-lg btn-default" href="#">联系我们</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(https://images.unsplash.com/uploads/1412017894428ae87a2ba/d8b14e97);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-left mbr-box__magnet--sm-padding">

                        <div class=" container">

                            <div class="row">
                                <div class=" col-md-6 col-md-offset-1">

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text">猎鹰招聘</h1>

                                    <p class="mbr-hero__subtext">职海无涯，猎鹰相伴 </p>
                                </div>
                                <div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="/jobs">马上应聘</a> <a class="mbr-buttons__btn btn btn-lg btn-default" href="#">联系我们</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-5">
                <span aria-hidden="true"><</span>
                <span class="sr-only">Previous</span>
            </a>
            <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-5">
                <span aria-hidden="true">></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>















<!-- 这是分割线，新的三个slogan-->
<div class="container-fluid text-center bg-grey">
  <h1>我们的合作伙伴</h1>
  <h3>马上联系我们吧</h3>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fet4tbxhjmj30p00cmgxh.jpg" alt="Paris"  width="400" height="200">
        <p><strong>陆先生</strong></p>
        <p>“猎鹰网操作简便，功能强大，是我公司长期合作伙伴”</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fet4rwnqxoj30p00cmql7.jpg" alt="New York" width="400" height="200">
        <p><strong>曾小姐</strong></p>
        <p>“猎鹰网是值得信赖的网络招聘合作伙伴，是我们最主要的招聘渠道之一”</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://pic.pedaily.cn/201506/20150610@87510.jpg" alt="San Francisco" width="400" height="200">
        <p><strong>李小姐</strong></p>
        <p>”猎鹰网节省了我们不少招聘的时间和精力，值得一试！“</p>
      </div>
    </div>
</div>

<!-- 这是分割线，这是新的滑动条-->

<h2>看看我们的用户怎么说？</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h4>"三个月前我在猎鹰招聘网投了简历，现在我是全宿舍第一个找到工作的幸运儿"<br><span style="font-style:normal;">小刘，中山大学学生，腾讯工程师</span></h4>
    </div>
    <div class="item">
      <h4>"猎鹰招聘网为我们公司招到了不少好员工!!"<br><span style="font-style:normal;">林总, 人力资源部总监, 阿里巴巴公司</span></h4>
    </div>
    <div class="item">
      <h4>"可能是最好的招聘网，因为我的第二份工作也是在这里找到的！"<br><span style="font-style:normal;">汤经理, 销售总监, 万达地产</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>



<!-- 练习我们 -->
<div class="container-fluid bg-grey">
  <h2 class="text-center">联系我们</h2>
  <div class="row">
    <div class="col-sm-5">
      <h4>24小时随时联系</h4>
      <h4><span class="glyphicon glyphicon-map-marker"></span> IFC 19楼1904 ，广州 ，中国</h4>
      <h4><span class="glyphicon glyphicon-phone"></span> 020-33388888</h4>
      <h4><span class="glyphicon glyphicon-envelope"></span>   304661934@qq.com</h4>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- xinshiyanbiaoge -->
